<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <header class="main-header">
        <h1>CHUCKL</h1> <!-- Title with font Promo Regular -->
    </header>
    <div class="form-container">
        <form action="/auth">
            <input type="text" name="username" value="" placeholder="Username">
            <input type="submit" name="submit" id="submit" value="Submit">
        </form>
    </div>
</body>
